* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('yin-yang.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0); /* Fundo transparente */
    border-radius: 8px;
    text-align: center;
    width: 90%; /* Tornar a largura responsiva */
    max-width: 350px; /* Definir um tamanho máximo */
    height: auto; /* Ajustar altura automaticamente */
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 2rem; /* Tamanho relativo */
    color: #fff;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.2rem; /* Ajuste de tamanho */
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
}

button {
    padding: 10px;
    width: 100%; /* Garantir que o botão ocupe toda a largura disponível */
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem; /* Ajuste de tamanho */
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box; /* Garantir que o padding não afete a largura do botão */
}

button:hover {
    background-color: #6e0d08;
}

.result {
    margin-top: 20px;
}

#resultado {
    width: 100%; /* Garantir que o campo de CPF tenha a mesma largura */
    max-width: 350px; /* Definir um tamanho máximo se necessário */
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: 2px solid #fffef6;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box; /* Garantir que o padding não afete a largura */
}

/* Adicionando responsividade para telas pequenas */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    input[type="text"], button {
        font-size: 1rem; /* Ajuste de tamanho para telas pequenas */
    }

    .container {
        width: 90%;
        max-width: 300px; /* Ajusta a largura do container em telas pequenas */
    }
}
